@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  background-color: lightseagreen;
  overflow-y: auto;
}
/* Styling for the fixed navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar.blurred {
  backdrop-filter: blur(1px); /* Apply a blur effect */
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 30px;
}

.logo p {
  font-weight: bold;
  font-size: 18px;
}



/* Navigation links styling */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: lightseagreen;
}

/* Mobile menu icon styling */
.mobile-menu {
  display: none; /* Hide on larger screens */
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Show mobile menu icon on smaller screens */
  .mobile-menu {
    display: block;
  }
  
  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, visibility 0s;
    z-index: 999;
  }

  .navbar.active .navbar-links {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.1s;
  }

  .navbar.active .mobile-menu i {
    color: lightseagreen;
  }
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.vlp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.vlp {
  font-size: 4.5em; /* increased font size */
  font-weight: bold; /* make it bold */
  letter-spacing: 8px; /* increase space between letters */
  opacity: 0;
  color: white; /* text color set to white */
  transition: opacity 1s;
  z-index: 0;  /* Ensures text is below the circle */
  
}
.vlpElaborate{
  font-size: 1em; /* increased font size */
  font-weight: bold;
  letter-spacing: 15px; /* increase space between letters */
  color: black; /* text color set to white */
opacity: 0;
  transition: opacity 1s;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: white; /* circle color set to white */
  border-radius: 50%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); /* shadow on the bottom */
  position: absolute;  /* Positioned absolutely */
  z-index: 1;  /* Ensures circle is on top of the text */
  left: -15px; /* Adjust this value to position the circle further to the left as desired */
}


.btn-group {
  position: absolute;
  top: 6rem;
  right: .8rem;
  display: flex;
  gap: 1rem;
}
.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-form,
.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-form,
.signup-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 300px; /* Maximum width for the form */
}

.login-form input,
.signup-form input {
  width: 90%; /* Make the inputs take up the entire width of the form */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button,
.signup-form button {
  background-color: lightseagreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.login-form p,
.signup-form p {
  margin-top: 10px;
}

.login-form span,
.signup-form span {
  color: lightseagreen;
  cursor: pointer;
}

.close-btn {
  border: none;
  border-radius: 50%; /* Make the button circular */
  padding: 7px; /* Adjust the padding as needed */
  cursor: pointer;
  position: absolute; /* Position the close button */
  top: 10px; /* Adjust the vertical position */
  right: 10px; /* Adjust the horizontal position */
}

.close-btn i {
  font-size: 20px; /* Adjust the icon size */
}
.close-btn i:hover{
  color: rgb(126, 126, 126);
  font-size: 25px;
}

.info-btn {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  white-space: nowrap;
}

.info-btn:hover .tooltip {
  display: block;
}

.section {
  display: flex;
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.content-area {
    flex: 1;
    padding-right: 50px;
    background: #f4f4f4; /* same as .section background */
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    /* The clip-path creates a 70-degree angle (from the horizontal) at the right side of this div. Adjust as needed */
}

.image-area {
    flex: 1;
    overflow: hidden; /* to make sure the image doesn't overflow the area */
}

.image-area img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.footer-logo p {
    font-weight: bold;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: lightseagreen;
}

.footer-social .social-icon {
    margin-right: 10px;
    font-size: 20px; /* adjust according to the icon size */
}

.footer-contact p {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}




@keyframes circleRollOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 0;
  }
}

@keyframes vlpFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



